.compatibility {
    width:  150px;
    height: 150px;
    border-radius: 75px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}