body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, dl, dd, ol, ul, fieldset, form, menu,
select, textarea, input, button {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  background-color: transparent;
  text-decoration: none;

}
  a:hover {
    text-decoration: none; }

img, input, button {
  border: 0;
  outline: 0; }

input, textarea {
  border-radius: 0;
  outline: 0; }

input, textarea, select, button,
a:active, a:hover {
  outline: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

textarea {
  overflow: auto; }

/* FONTS */
@font-face {
  font-family: 'FregatR';
  src: local("Fregat"), url("../fonts/fregat.woff2") format("woff2"), url("../fonts/fregat.woff") format("woff"), url("fregat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'FregatI';
  src: local("Fregat Italic"), local("Fregat-Italic"), url("../fonts/fregatitalic.woff2") format("woff2"), url("../fonts/fregatitalic.woff") format("woff"), url("fregatitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'FregatB';
  src: local("Fregat Bold"), local("Fregat-Bold"), url("../fonts/fregatbold.woff2") format("woff2"), url("fregatbold.woff") format("woff"), url("../fonts/fregatbold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'FregatBI';
  src: local("Fregat Bold Italic"), local("Fregat-BoldItalic"), url("../fonts/fregatbolditalic.woff2") format("woff2"), url("../fonts/fregatbolditalic.woff") format("woff"), url("fregatbolditalic.ttf") format("truetype");
  font-style: italic; }

html {
  height: 100%; }

/* GENERAL */
body {
  font-family: "FregatR";
  color: #fff;
  font-size: 20px;
  background-attachment: fixed !important; }

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header, section, footer {
  position: relative;
  width: 100%;
  min-width: 100px; }

.wrapper {
  position: relative;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto; }

input[type="text"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]:-ms-input-placeholder {
  color: #5c6770; }

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* home_top */
.home_top {
  background: #004785; }

/* HEADER */
header {
  background: #004785; }
  header .wrapper {
    padding: 15px 10px; }
    header .wrapper:before, header .wrapper:after {
      content: "";
      display: table; }
    header .wrapper:after {
      clear: both; }

.header__logo-wrap {
  float: left; }

.header__nav-wrap {
  float: right;
  margin-top: 12px; }

.header__nav__title {
  font-family: "FregatB";
  font-size: 20px;
  margin-right: 15px;
  color: #fff; }

.header__nav__title:hover {
  text-decoration: underline;
  color: white;
}

.top_navigate {
  display: inline-block; }
  .top_navigate li {
    display: inline-block; }
  .top_navigate a {
    display: block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    border: 3px solid #fff;
    color: #fff;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .top_navigate a:hover,
  .top_navigate a.active {
    background: #fff;
    color: #0199FF; }
  .top_navigate li:not(:last-child) {
    margin-right: 15px; }

/* home_top */
.home_top {
  border-bottom: 520px solid #003366; }
  .home_top .wrapper {
    padding-top: 45px; }

.home_top__slogan {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase; }

.home_top__slogan_2 {
  text-align: center;
  font-size: 26px; }

.home_top__form-wrap {
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  z-index: 20; }
  .home_top__form-wrap input[type="text"],
  .home_top__form-wrap input[type="submit"] {
    background: #fff;
    color: #656565;
    font-size: 20px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    height: 40px;
    margin: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .home_top__form-wrap input[type="text"] {
    width: 260px;
    padding: 0 10px; }
  .home_top__form-wrap input[type="submit"] {
    background: #0099FF;
    width: 110px;
    color: #fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .home_top__form-wrap input[type="submit"]:hover {
    opacity: 0.8; }

.home_top__bg-img {
  display: block;
  position: absolute;
  top: 180px;
  z-index: 5;
  max-width: 100%; }

/* home_about */
.home_about .wrapper {
  padding-top: 50px;
  overflow: hidden; }

.home_about .wrapper > p {
  font-size: 20px;
  color: #333;
  text-align: justify;
  line-height: 1.2;
  margin-bottom: 25px; }

.home_about__title {
  font-size: 34px;
  font-family: "FregatB";
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }

.home_about__items {
  margin: 40px -15px 0; }

.home_about__coll {
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 0 15px; }

.home_about__item {
  padding: 35px 30px;
  background: #0C80D3;
  height: 470px; }

.home_about__coll:nth-child(1) .home_about__item {
  background: url("../img/home_about_1.jpg") center;
  background-size: cover; }

.home_about__coll:nth-child(2) .home_about__item {
  background: url("../img/home_about_2.jpg") center;
  background-size: cover; }

.home_about__coll:nth-child(3) .home_about__item {
  background: url("../img/home_about_3.jpg") center;
  background-size: cover; }

.home_about__item__header {
  text-align: center; }

.home_about__item__title {
  font-size: 30px;
  font-family: "FregatB";
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px; }

.home_about__item__subtitle {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin-top: 10px; }

.home_about__item__hr {
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 15px auto 0; }

.home_about__text {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  line-height: 1.3; }

.home_about__sign-up__wrap {
  position: relative;
  margin: 55px 0; }

.home_about__sign-up {
  display: block;
  background: #0099FF;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  border: 3px solid transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.home_about__sign-up:hover {
  opacity: 0.8;
  background: #fff;
  color: #09F;
  border: 3px solid #0099FF; }

.home_about__sign-up:before,
.home_about__sign-up:after {
  content: "";
  display: block;
  position: absolute;
  top: 27px;
  width: 38%;
  height: 2px;
  background: #B5B5B5;
  z-index: -1; }

.home_about__sign-up:before {
  left: 0; }

.home_about__sign-up:after {
  right: 0; }

/* LOGIN PAGE */
.login_page {
  background: url("../img/loginBackground.jpg") center no-repeat;
  background-size: cover; }

.login_page header {
  background: none; }

/* login-block */
.login-block {
  margin-top: 80px;
  margin-bottom: 50px; }
  .login-block .wrapper {
    text-align: center; }

.login__title {
  font-size: 34px;
  font-family: "FregatB"; }

.login__form-wrap {
  margin-top: 25px; }
  .login__form-wrap input[type="text"],
  .login__form-wrap input[type="submit"],
  .login__form-wrap input[type="email"],
  .login__form-wrap input[type="password"]{
    background: #fff;
    color: #656565;
    font-size: 18px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .login__form-wrap input[type="text"] {
    width: 260px;
    padding: 0 10px;
    border: 1px solid #B5B5B5;
    margin: 0 15px; }
  .login__form-wrap input[type="submit"] {
    background: transparent;
    width: 110px;
    color: #fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 3px solid #fff;
    margin-top: 25px; }
  .login__form-wrap input[type="submit"]:hover {
    background: #fff;
    color: #0F76C3; }

/* signup_page */
.signup_page {
  background: url("../img/bg_signup.jpg") center no-repeat;
  background-size: cover; }

.signup_page header {
  background: none; }

.signup_page-block {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px; }

.signup_page__title {
  font-size: 34px;
  font-family: "FregatB"; }

.signup_page__subtitle {
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px; }

.signup_page__form-wrap {
  margin-top: 40px; }
  .signup_page__form-wrap input[type="text"],
  .signup_page__form-wrap input[type="submit"] {
    background: #fff;
    color: #656565;
    font-size: 18px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .signup_page__form-wrap input[type="text"] {
    width: 260px;
    padding: 0 10px;
    border: 1px solid #B5B5B5;
    margin: 0 15px; }
  .signup_page__form-wrap input[type="submit"] {
    background: transparent;
    width: 110px;
    color: #fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 3px solid #fff;
    margin-top: 25px; }
  .signup_page__form-wrap input[type="submit"]:hover {
    background: #fff;
    color: #0F76C3; }
  .signup_page__form__checkbox {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .signup_page__form__checkbox input {
    display: none;
  }
  .signup_page__form__checkbox input:checked + span:before {
    display: checked;
  }
  .signup_page__form__checkbox span {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 20px;
    border: 1px solid #B5B5B5;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .signup_page__form__checkbox span:before {
    content: "";
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    top: 2px;
    left: 2px;
    background: #4C9ED0;
  }

.signup_page__form__row {
  margin-top: 25px; }

.termsCon{
  color : white

}

.termsCon:hover{
  text-decoration: underline;
  color : white
}























/* FOOTER */
/***** MEDIA *****/
@media only screen and (max-width: 1150px) {
  .home_top .wrapper {
    padding: 45px 0 0; } }

@media only screen and (max-width: 1100px) {
  .home_about__coll {
    width: 100%;
    margin: 15px 0; }
  .home_about__item {
    height: auto;
    width: 100%;
    margin: 0 auto; } }

@media only screen and (max-width: 1000px) {
  .home_top {
    border-bottom: 450px solid #003366; } }

@media only screen and (max-width: 900px) {
  .home_top {
    border-bottom: 400px solid #003366; } }

@media only screen and (max-width: 800px) {
  .home_top__form-wrap input[type="text"],
  .home_top__form-wrap input[type="submit"] {
    display: block;
    margin: 10px auto; }
  .home_top {
    border-bottom: 0px solid #003366;
    overflow: hidden; }
  .home_top__bg-img {
    opacity: 0.4;
    top: 0; }
  .header__nav-wrap {
    margin-top: 20px; } }

@media only screen and (max-width: 650px) {
  .home_top__slogan {
    font-size: 40px; }
  .home_top__slogan_2 {
    font-size: 20px; }
  .header__logo-wrap,
  .header__nav-wrap {
    float: none;
    width: 100%;
    text-align: center; }
  /* LOGIN */
  .login__form-wrap input[type="text"] {
    display: block;
    margin: 15px auto; }
  /* SIGNUP */
  .signup_page__form-wrap input[type="text"] {
    display: block;
    margin: 15px auto; } }

@media only screen and (max-width: 500px) {
  .home_about__sign-up:before,
  .home_about__sign-up:after {
    display: none; } }

/*# sourceMappingURL=style.css.map */
